/* ==========================
   FARBEN HIER ÄNDERN
========================== */

:root {

    --primary-color: #003366;
    --primary-hover: #d4dce9;

    --background-start: #b8cb7e;
    --background-end: #8a428d;

    --text-color: #333333;

    --card-color: #ffffff;
}

/* ==========================
   ALLGEMEIN
========================== */

body {

    margin: 0;

    font-family: Arial, sans-serif;

    background:
    linear-gradient(
        135deg,
        var(--background-start),
        var(--background-end)
    );
}

.container {

    max-width: 900px;

    margin: 40px auto;

    background: var(--card-color);

    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.header {

    background: var(--primary-color);

    color: white;

    padding: 30px;

    text-align: center;
}

.logo {

    max-height: 80px;

    margin-bottom: 15px;
}

#start-screen,
#quiz-container,
#result-container {

    padding: 40px;
}

.hidden {

    display: none;
}

/* ==========================
   ANTWORTEN
========================== */

.answer-btn {

    width: 100%;

    display: block;

    margin-bottom: 15px;

    padding: 15px;

    font-size: 18px;

    border-radius: 12px;

    border: 2px solid #dddddd;

    background: white;

    cursor: pointer;

    transition: 0.3s;
}

.answer-btn:hover {

    background: #e5f5ea;

    border-color: var(--primary-color);
}

/* ==========================
   BUTTONS
========================== */

button {

    background: var(--primary-color);

    color: white;

    border: none;

    padding: 15px 25px;

    border-radius: 12px;

    font-size: 16px;

    cursor: pointer;
}

button:hover {

    background: var(--primary-hover);
}

/* ==========================
   FORTSCHRITT
========================== */

.progress {

    margin-top: 30px;

    background: #dddddd;

    height: 10px;

    border-radius: 20px;
}

#progress-bar {

    width: 0;

    height: 10px;

    border-radius: 20px;

    background: var(--primary-color);
}
